{{-- 继承公用视图 --}}
@extends('Home.public')

{{-- 分配标题 --}}
@section('title', 'this is a test')

{{-- 设置导航焦点为第一个 --}}
@section('nav_1',true)

{{-- 置入文档内容 --}}
@section('content')
1<br/>
1<br/>
1<br/>
1<br/>
1<br/>
1<br/>
1<br/>
1<br/>
1<br/>
1<br/>
1<br/>
1<br/>
1<br/>
1<br/>
1<br/>
1<br/>
1<br/>
1<br/>
1<br/>
1<br/>
1<br/>
1<br/>
1<br/>
1<br/>
1<br/>
1<br/>
1<br/>
1<br/>
1<br/>
1<br/>
1<br/>
1<br/>
1<br/>
1<br/>
1<br/>
1<br/>
1<br/>
1<br/>
1<br/>
1<br/>
1<br/>
1<br/>
1<br/>
1<br/>
1<br/>
1<br/>
1<br/>
1<br/>
1<br/>


@endsection

{{-- 导入要使用的js插件 --}}
@section('vendor_js')
{{-- <script src=""></script> --}}

@endsection

{{-- 导入css或针对页面的css --}}
@section('vendor_css')
{{-- <link rel="stylesheet" href=""> --}}
{{-- <styel> --}}

{{-- </styel> --}}
@endsection