<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="author" content="ZZJBS"/>
        <!-- 引入文件 -->
        <link rel="stylesheet" href="/css/common.css" /><!-- 公共样式 -->
        <script type="text/javascript" src="/js/lib/jquery-3.1.1.min.js"></script><!-- 引入jquery文件 -->
        <script type="text/javascript" src="/js/app/common.js"></script><!-- 引入公共js文件 -->

        <link rel="stylesheet" href="/css/wy_main.css">
        <title>风安帮</title>
    </head>
    <body>
        <!-- 头部 -->
        <header class="wy_header">
            <img class="wy_logo" src="/images/lf_logo.png" alt="">
            <span class="wy_tit">欢迎登录</span>
            <a class="wy_backBtn" href="/Home/Index/index.html">返回首页</a>
        </header>
        <form action="" method="post">
            <div class="wy_loginBody">
    		<div class="wy_loginBg1">
    			<div class="wy_loginBg2">
                    <!-- 登录框 -->
    				<div class="wy_form">
    					<p class="wy_p">账号密码登录</p>
                        <!-- 手机号 -->
    					<div class="wy_inputBox">
    						<input type="text" id="phone" name="phone" placeholder='手机号/用户名'>
    						<img class="wy_icon"  src="/images/wy_user.png" alt="">
    					</div>
                        <!-- 密码 -->
    					<div class="wy_inputBox">
    						<input type="password" id="password" name="password" placeholder='密码'>
    						<img class="wy_icon" src="/images/wy_psd.png" alt="">
    					</div>
                        <!-- 记住账号 -->
                        <div class="wy_bottomBox">
                            <div class="wy_gouBox">
                                <img src="/images/wy_gou.png" height="15" width="15" alt="">
                                <span>记住账号</span>
                            </div>
                            <div class="wy_rightBox">
                                <a href="/Home/Auth/retrieve.html">忘记密码？</a>
                                <a href="/Home/Auth/register.html">注册账号</a>
                            </div>
                        </div>
    					<button class="wy_loginBtn" id="loginBtn" type="submit" >登录</button>
    				</div>
    			</div>
    		</div>
    	</div>
        </form>
        <!-- 底部 -->
    	<footer class="wy_footer">
    		<ul>
                <!--<li><a href="javascript:void(0);">联系方式</a><span>|</span></li>-->
                <li><a href="/Home/Auth/register.html">注册新用户</a><span>|</span></li>
                <li><a href="/Home/Notice/index.html">交易规则</a><span>|</span></li>
                <li><a href="/Home/Auth/register.html">品牌商入口</a><span>|</span></li>
                <li><a href="/Home/Demand/chooseType.html">发布需求</a><span>|</span></li>
                <!--<li><a href="javascript:void(0);">挑选优质服务商</a><span>|</span></li>-->
                <li><a href="/Home/Demand/needHouse.html?index=1">需求大厅</a><span>|</span></li>
                <li><a href="/Home/Material/goods.html">辅材街</a><span>|</span></li>
                <li><a href="/Home/Service/serviceHall.html">服务大厅</a><span>|</span></li>
                <li><a href="/Home/TeamEducate/submitTrain.html">团队培训</a></li>
            </ul>
            <p class="wy_p"><img class="wy_tel" src="/images/wy_tel.png" alt=""><span class='wy_span1'>客服热线：</span> <span>{{$config['kefurexian']}}</span>（周一至周日：7*24小时）</p>
            <p>©2017-2018  风安帮 {{$config['icp_num']}}  <span class="wy_span2">技术支持：</span><a class="wy_jbs" href="">金帮手</a></p>
    	</footer>
    <script>
        $('form').submit(function(){
            var phone = $('#phone').val();
            var password = $('#password').val();

            if(phone == ''){
                alert('手机号 不能为空');
                return false;
            }

            if(password == ''){
                alert('密码 不能为空');
                return false;
            }
            return true;
        });
    </script>
    </body>
</html>