
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="author" content="ZZJBS"/>
        <!-- 引入文件 -->
        <link rel="stylesheet" href="/css/common.css" /><!-- 公共样式 -->
        <script type="text/javascript" src="/js/lib/jquery-3.1.1.min.js"></script><!-- 引入jquery文件 -->
        <script type="text/javascript" src="/js/app/common.js"></script><!-- 引入公共js文件 -->

        <link rel="stylesheet" href="/css/wy_main.css">
        <title>风安帮</title>
    </head>
    <body>
    	<header class="wy_header">
    		<img class="wy_logo" src="/images/lf_logo.png" alt="">
    		<span class="wy_tit">找回密码</span>
    		<a class="wy_backBtn" href="/Home/Index/index.html">返回首页</a>
    	</header>
    	<div class="wy_loginBody wy_findPwdBody">
    		<div class="wy_loginBg1">
    			<div class="wy_loginBg2">
    				<div class="wy_form wy_form1">
						<form action="">
    					<p class="wy_p">找回密码</p>
    					<div class="wy_inputBox">
    						<input class="wy_input" type="text" name="phone" placeholder='请输入手机号'>
    						<span class="wy_icon">手机号</span>
    						<span class="wy_icon">手机号</span>
    					</div>
    					<div class="wy_inputBox">
    						<input class="wy_input" name="password" type="text" placeholder='建议至少使用两种字符组合'>
    						<span class="wy_icon">设置密码</span>
    					</div>
    					<div class="wy_inputBox">
    						<input class="wy_input" name="repassword" type="text" placeholder='请再次输入密码'>
    						<span class="wy_icon">确认密码</span>
    					</div>
    					<div class="wy_inputBox wy_inputBox1">
    						<input class="wy_input wy_input1" name="code" type="text" placeholder='请输入手机验证码'>
    						<span class="wy_icon">验证码</span>
    						<input class="wy_yzmBtn" id="btn_yzm" type="button" value="获取验证码">
    					</div>
						</form>
    					<button class="wy_loginBtn" type="button">确认修改</button>
    				</div>
    			</div>
    		</div>
    	</div>
    	<footer class="wy_footer">
    		<ul>
                <!--<li><a href="javascript:void(0);">联系方式</a><span>|</span></li>-->
                <li><a href="/Home/Auth/register.html">注册新用户</a><span>|</span></li>
                <li><a href="/Home/Notice/index.html">交易规则</a><span>|</span></li>
                <li><a href="/Home/Auth/register.html">品牌商入口</a><span>|</span></li>
                <li><a href="/Home/Demand/chooseType.html">发布需求</a><span>|</span></li>
                <!--<li><a href="javascript:void(0);">挑选优质服务商</a><span>|</span></li>-->
                <li><a href="/Home/Demand/needHouse.html?index=1">需求大厅</a><span>|</span></li>
                <li><a href="/Home/Material/goods.html">辅材街</a><span>|</span></li>
                <li><a href="/Home/Service/serviceHall.html">服务大厅</a><span>|</span></li>
                <li><a href="/Home/TeamEducate/submitTrain.html">团队培训</a></li>
            </ul>
            <p class="wy_p"><img class="wy_tel" src="/images/wy_tel.png" alt=""><span class='wy_span1'>客服热线：</span> <span>{{$config['kefurexian']}}</span>（周一至周日：7*24小时）</p>
            <p>©2017-2018  携工网 {{$config['icp_num']}}  <span class="wy_span2">技术支持：</span><a class="wy_jbs" href="">金帮手</a></p>
    	</footer>
    </body>
	<script type="text/javascript">
        var wait=60;
        function time(o) {
            if (wait == 0) {
                o.removeAttribute("disabled");
                o.value="获取验证码";
                wait = 60;
            } else {
                o.value="重新发送(" + wait + ")";
                wait--;
                setTimeout(function() {
                    time(o)
                }, 1000)
            }
        };
        $('.wy_loginBtn').click(function(){
            $.post('/Mobile/Auth/editLoginPwd.html',$('form').serialize(),function(data){
                if(data.status==1){
                    alert('修改登陆密码成功');
                    window.location = '/Home/Auth/login.html';
                }else{
                    alert(data.message);
                }
            });
        });
        //获取验证码
        $('#btn_yzm').click(function () {
            window.event? window.event.cancelBubble = true : e.stopPropagation();
            window.event? window.event.returnValue = false : e.preventDefault();
            if (this.value === "获取验证码") {
                var box = this;
                $.post('/Mobile/Auth/get_edit_phone_code.html',{phone:$('input[name="phone"]').val(),type:2},function(data){
                    if(data.status==1){
                        box.setAttribute("disabled", true);
                        time(box);
                    }else{
                        alert(data.message);
                    }
                })
            }
        });
        //获取验证码
        //	  $('#btn_yzm').click(function () {
        //          window.event? window.event.cancelBubble = true : e.stopPropagation();
        //          window.event? window.event.returnValue = false : e.preventDefault();
        //          time(this);
        //	  });
	</script>
</html>