
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1496214852107'); /* IE9*/
  src: url('iconfont.eot?t=1496214852107#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1496214852107') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1496214852107') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1496214852107#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dingdan:before { content: "\e607"; }

.icon-geren:before { content: "\e601"; }

.icon-89:before { content: "\e679"; }

.icon-22:before { content: "\e72d"; }

.icon-shangcheng:before { content: "\e609"; }

.icon-app1:before { content: "\e65a"; }

.icon-xiangyou:before { content: "\e605"; }

.icon-shouye:before { content: "\e604"; }

.icon-200423:before { content: "\e60d"; }

.icon-tuiguang:before { content: "\e6c2"; }

.icon-zmjiameng:before { content: "\e6b8"; }

.icon-tuijian:before { content: "\e8af"; }

.icon-weizhangchaxun:before { content: "\e61b"; }

