* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.zpf-wrap {
	width: 16rem;
	height: auto;
	overflow: hidden;
}

.zpf-head {
	width: 16rem;
	height: 2.2rem;
	background-color: #3598dc;
}

.zpf-ban {
	width: 16rem;
	height: 8.13rem;
	background-color: #3598dc;
	overflow: hidden;
}

.zpf-ban img {
	display: block;
	width: 4.33rem;
	height: 3.5rem;
	margin: 0.95rem auto 0 auto;
}

.zpf-ban a {
	font-size: 0.6rem;
	color: white;
}

.zpf-b-l {
	width: 7.97rem;
	height: 1.3rem;
	float: left;
	margin-top: 2.38rem;
}

.zpf-b-l p {
	font-size: 0.6rem;
	height: 1rem;
	border-right: 0.03rem white solid;
	display: block;
	text-align: center;
}

.zpf-b-r {
	width: 7.98rem;
	height: 1.3rem;
	float: left;
	margin-top: 2.38rem;
}

.zpf-b-r p {
	font-size: 0.6rem;
	height: 1rem;
	display: block;
	text-align: center;
}

.zpf-sj {
	width: 0;
	height: 0;
	border-left: 0.15rem solid transparent;
	border-right: 0.15rem solid transparent;
	border-bottom: 0.3rem solid white;
	margin: 0 auto;
}

.zpf-cont {
	width: 16rem;
	height: auto;
	overflow: hidden;
}

.zpf-c-o {
	width: 9rem;
	height: 1.18rem;
	border-bottom: 0.05rem #737373 solid;
	margin: 0.85rem auto 0 auto;
}

.zpf-c-z {
	font-size: 0.6rem;
	float: right;
	line-height: 1.18rem;
}

.zpf-c-o p a {
	color: #3598dc;
}

.zpf-c-o:nth-child(1) {
	margin-top: 2.20rem;
}

.zpf-c-o img {
	display: block;
	width: 0.7rem;
	height: 0.68rem;
	margin-top: 0.15rem;
	margin-left: 0.13rem;
	float: left;
}

.zpf-c-o:nth-child(1) img {
	width: 0.6rem;
	height: 0.7rem;
	margin-top: 0.1rem;
}

.zpf-c-o:nth-child(5) img {
	width: 0.7rem;
	height: 0.8rem;
	margin-top: 0.1rem;
}

.zpf-c-o:nth-child(5) input {
	width: 3.9rem;
}

.zpf-c-o:nth-child(3) img {
	width: 0.65rem;
	height: 0.85rem;
	margin-top: 0;
}

.zpf-c-o:nth-child(4) img {
	width: 0.65rem;
	height: 0.85rem;
	margin-top: 0;
}

.zpf-c-o input {
	display: block;
	width: 7rem;
	border: 0;
	background: none;
	outline: none;
	font-size: 0.65rem;
	color: black;
	line-height: 1.18rem !important;
	padding-left: 0.55rem;
	float: left;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}

::-webkit-input-placeholder {
	/* WebKit browsers */
	color: #d7d7d7;
}

 :-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: #d7d7d7;
}

 ::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: #d7d7d7;
}

 :-ms-input-placeholder {
	/* Internet Explorer 10+ */
	color: #d7d7d7;
}

.zpf-c-t {
	width: 9rem;
	height: 1.18rem;
	margin: 0.85rem auto 0 auto;
}

.zpf-c-t input[type=checkbox] {
	width: 0.65rem;
	height: 0.65rem;
	border: 0;
	margin-top: 0.25rem;
	float: left;
}

.zpf-c-t label {
	font-size: 0.6rem;
	color: #32ae7c;
	float: left;
	line-height: 1.18rem;
	margin-left: 0.2rem;
}

.zpf-c-t label a {
	color: #4250ff;
	text-decoration: underline;
}

.zpf-cont input[type=button] {
	display: block;
	width: 10rem;
	height: 1.7rem;
	border: 0;
	background: #3598dc;
	font-size: 0.7rem;
	color: white;
	text-align: center;
	line-height: 1.7rem;
	border-radius: 0.17rem;
	outline: none;
	margin: 1.13rem auto 1.13rem auto;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}