*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
.zpf-wrap{
	width: 16rem;
	height: auto;
	overflow: hidden;
}
.zpf-head{
	width: 16rem;
	height: 2.2rem;
	background-color: #3598dc;
}
.zpf-head img{
	width: 0.5rem;
	height: 0.9rem;
	margin: 0.65rem 0 0 0.57rem;
	float: left;
}
.zpf-head h5{
	margin-left: 5.42rem;
	font-size: 0.68rem;
	color: white;
	line-height: 2.2rem;
	float: left;
	font-weight: normal;
}
.zpf-ban|{
	width: 16rem;
	height: 6.60rem;	
}
.zpf-ban img{
	width: 16rem;
	height: 6.60rem;
}
.wy_index-banner_pic {
   width: 16rem;
	height: 6.60rem;
	display: block;
}
.zpf-cont{
	width: 16rem;
	height: auto;
	overflow: hidden;
}
.zpf-c-l{
	width: 8rem;
	height: 2.45rem;
	float: left;
}
.zpf-c-l img{
	display: block;
	width: 1.15rem;
	height: 0.95rem;
	margin-top: 0.72rem;
	margin-left: 1.38rem;
	float: left;
}
.zpf-c-l p{
	font-size: 0.6rem;
	color: #515860;
	margin-top: 0.93rem;
	margin-left: 0.25rem;
	float: left;
}
.zpf-c-l:nth-child(2) img{
	width: 0.93rem;
	height: 1.07rem;
}
.zpf-main{
	width: 16rem;
	height: auto;
	background: #f2f2f2;
	overflow: hidden;
}
.zpf-m-l{
	width: 7.3rem;
	height: 10.95rem;
	overflow: hidden;
	background: white;
	margin: 0.25rem 0.25rem 0.25rem 0.35rem;
	float: left;
}
.zpf-m-l img{
	display: block;
	width: 7.3rem;
	height: 8.22rem;
	border-bottom: 0.03rem #e6e6e6 solid;
}
.zpf-l-o{
	width: 7.3rem;
	height: 1.4rem;
}
.zpf-l-o h5{
	font-size: 0.7rem;
	color: black;
	line-height: 1.4rem;
	margin-left: 0.42rem;
}
.zpf-l-t{
	width: 7.3rem;
	height: 1.03rem;
}
.zpf-l-t p{
	display: block;
	font-size: 0.7rem;
	color: red;
	margin-left: 0.42rem;
	letter-spacing: 0.02rem;
	float: left;
}
.zpf-l-t span{
	font-size: 0.6rem;
	color: #a6a7ab;
	margin-left: 0.1rem;
}
.zpf-l-t input{
	display: block;
	width: 2.30rem;
	height: 1.1rem;
	border: 0;
	outline: none;
	background: #3598dc;
	font-size: 0.6rem;
	color: white;
	line-height: 1.1rem;
	margin-right: 0.25rem;
	border-radius: 0.1rem;
	text-align: center;
	float: right;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}
