*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
.zpf-wrap{
	width: 16rem;
	height: auto;
	overflow: hidden;
}
.zpf-head{
	width: 16rem;
	height: 2.2rem;
	background-color: #3598dc;
}
.zpf-head img{
	width: 0.5rem;
	height: 0.9rem;
	margin: 0.65rem 0 0 0.57rem;
	float: left;
}
.zpf-head h5{
	margin-left: 5.42rem;
	font-size: 0.68rem;
	color: white;
	line-height: 2.2rem;
	float: left;
	font-weight: normal;
}
.zpf-ban{
	width: 16rem;
	height: 3.9rem;
}
.zpf-b-l{
	width: 14.65rem;
	height: 3.9rem;
	float: left;
}
.zpf-b-r{
	width: 1.35rem;
	height: 3.9rem;
	float: left;
}
.zpf-b-l p{
	display: block;
	font-size: 0.67rem;
	color: #434343;
	font-family: "微软雅黑";
	margin-top: 0.4rem;
	margin-left: 0.4rem;
}
.zpf-b-l p img{
	display: block;
	width: 0.6rem;
	height: 0.7rem;
	margin-right: 0.42rem;
	float: left;
}
.zpf-b-l label{
	margin-left: 1rem;
}
.zpf-b-l p:nth-child(1){
	padding-left: 1rem;
}
.zpf-b-l p:nth-child(2){
	font-size: 0.58rem;
	color: #8f9299;
}
.zpf-b-l span{
	margin-left: 3.7rem;
}
.zpf-b-r img{
	width: 0.47rem;
	height: 0.9rem;
	margin-top: 1.3rem;
	margin-left: 0.3rem;
}
.zpf-box{
	width: 16rem;
	height: 0.45rem;
	background: #f1f2f6;
	border-top: 0.03rem #b0b0b0 solid;
	border-bottom: 0.03rem #b0b0b0 solid;
}
.zpf-cont{
	width: 16rem;
	height: 16.13rem;
	overflow: hidden;
}
.zpf-cont img{
	display: block;
	width: 12.93rem;
	height: 12.93rem;
	margin-top: 0.35rem;
	margin-left: 1.50rem;
}
.zpf-cont p{
	font-size: 0.6rem;
	color: #252525;
	margin-top: 0.65rem;
	margin-left: 0.75rem;
}
.zpf-cont p:nth-child(3){
	font-size: 0.7rem;
	color: red;
	margin-top: 0.15rem;
}
.zpf-cont span{
	font-size: 0.6rem;
}
.zpf-r-z{
	width: auto;
	height: auto;
	margin-top: 0.8rem;
}
.zpf-r-z p{
	font-size: 0.6rem;
	color: #666666 !important;
	margin-left: 0.75rem;
	margin-top: 0.1rem;
	float: left;
}
.zpf-r-z input{
	display: block;
	width: 1.10rem;
	height: 1.10rem;
	font-size: 0.35rem;
	color: black;
	line-height: 1.10rem ;
	text-align: center;
	border: 0;
	outline: none;
	background: none;
	border: 0.03rem black solid;
	float: left;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}
.zpf-r-z input:nth-child(2){
	margin-left: 0.47rem;
}
.zpf-r-z input:nth-child(3){
	border-left: none;
	border-right: none;
}
.zpf-final{
	width: 16rem;
	height: auto;
	margin-bottom: 2.48rem;
	overflow: hidden;
}
.zpf-final p{
	font-size: 0.6rem;
	clear: both;
	margin-left: 0.75rem;
	margin-bottom: 0.5rem;
	color: #cbccd0;
}
.zpf-foot{
	width: 16rem;
	height: 2.48rem;
	background: white;
	position: fixed;
	bottom: 0;
}
.zpf-f-l{
	width: 10.03rem;
	height: 2.45rem;
	float: left;
	border-top: 0.03rem #d9d9d9 solid;
	background: #f5f5f5;
}
.zpf-f-l p{
	font-size: 0.65rem;
	color: black;
	letter-spacing: 0.03rem;
	line-height: 2.45rem;
	margin-left: 0.3rem;
}
.zpf-f-l label{
	font-size: 0.8rem;
	color: red;
}
.zpf-f-r{
	width: 5.97rem;
	height: 2.45rem;
	float: left;
}
.zpf-f-l span{
	color: red;
}
.zpf-f-r input{
	display: block;
	width: 5.97rem;
	height: 2.45rem;
	background: #3598DC;
	border: 0;
	outline: none;
	font-size: 0.6rem;
	color: white;
	text-align: center;
	line-height: 2.45rem;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}








