*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
.zpf-wrap{
	width: 16rem;
	height: auto;
	overflow: hidden;
}
.zpf-head{
	width: 16rem;
	height: 2.2rem;
	background-color: #3598dc;
	
}
.zpf-head img{
	width: 0.5rem;
	height: 0.9rem;
	margin: 0.65rem 0 0 0.57rem;
	float: left;
}
.zpf-head h5{
	margin-left: 5.42rem;
	font-size: 0.78rem;
	color: white;
	line-height: 2.2rem;
	float: left;
	font-weight: normal;
}
.zpf-ban{
	width: 14.94rem;
	height: 1.64rem;
	margin: 0.25rem auto;
	border: 0.03rem #3598db solid;
	border-radius: 0.13rem;
}
.zpf-ban p{
	display: block;
	width: 3.69rem;
	height: 1.64rem;
	font-size: 0.65rem;
	color: black;
	line-height: 1.64rem;
	text-align: center;
	border-left: 0.03rem #3598db solid;
	margin-left: 0.03rem #3598db solid;
	font-weight: bold;
	float: left;
}
.zpf-ban p:nth-child(1){
	border-left: none;
}
.zpf-active{
	background: #3598dc;
	color: white !important;
}
.zpf-main{
	width: 16rem;
	height: auto;
	overflow: hidden;
}
.zpf-cont{
	width: 16rem;
	height: 7.5rem;
	border-top: 0.25rem #f5f5f5 solid;
}
.zpf-c-o{
	width: 16rem;
	height: 1.30rem;
	border-bottom: 0.03rem #eeeeee solid;
}
.zpf-c-o p{
	font-size: 0.6rem;
	color: #b5b5b5;
	line-height: 1.3rem;
	margin-left: 0.75rem;
	float: left;
}
.zpf-c-o p:nth-child(2){
	color: #3398dc;
	margin-right: 0.45rem;
	float: right;
}
.zpf-c-t{
	width: 16rem;
	height: 3.95rem;
	border-bottom: 0.03rem #eeeeee solid;
	overflow: hidden;
}
.zpf-t-o{
	width: 4.35rem;
	height: 3.95rem;
	float: left;
}
.zpf-t-o img{
	display: block;
	width: 3.05rem;
	height: 3.05rem;
	border: 0.03rem #3598db solid;
	margin-top: 0.42rem;
	margin-left: 0.75rem;
	float: left;
}
.zpf-t-t{
	width: 11.65rem;
	height: 3.95rem;
	float: left;
}
.zpf-c-t p{
	display: block;
	font-size: 0.5rem;
	color: #989ba0;
	margin-top: 0.42rem;  
	letter-spacing: 0.01rem;
}
.zpf-c-t p:nth-child(2){
	margin-right: 0.45rem;
	float: right;
}
.zpf-t-t span{
	color: red;
	font-size: 0.7rem;
	margin-left: 0.02rem;
	margin-right: 0.05rem;
}
.zpf-c-c{
	width: 16rem;
	height: 2.15rem;
}
.zpf-c-c p{
	font-size: 0.6rem;
	color: #949494;
	line-height: 2.15rem;
	margin-left: 0.75rem;
	float: left;
}
.zpf-c-c input{
	width: 3.27rem;
	height: 1.5rem;
	border: 0;
	background: none;
	outline: none;
	border: 0.03rem #3598db solid;
	font-size: 0.6rem;
	color: #3697db;
	line-height: 1.5rem;
	text-align: center;
	border-radius: 0.13rem;
	margin-top: 0.3rem;
	margin-left: 0.47rem;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	float: left;
}
.zpf-c-c input:nth-child(2){
	margin-left: 2.2rem;
}
.zpf-c-c input:nth-child(3){
	background: #3598DC;
	color: white;
}
.zpf-btn{
	float: right !important;
	background: #3598DC !important;
	color: white !important;
	margin-right: 0.45rem !important;
}
