*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
.zpf-wrap{
	width: 16rem;
	height: auto;
	overflow: hidden;
}
.zpf-head{
	width: 16rem;
	height: 2.2rem;
	background-color: #3598dc;
}
.zpf-head img{
	width: 0.5rem;
	height: 0.9rem;
	margin: 0.65rem 0 0 0.57rem;
	float: left;
}
.zpf-ban{
	width: 16rem;
	height: 8.13rem;
	background-color: #3598dc;
	overflow: hidden;
}
.zpf-ban img{
	display: block;
	width: 4.33rem;
	height: 3.5rem;
	margin: 0.95rem auto 0 auto;
}
.zpf-ban p{
	font-size: 0.7rem;
	display: block;
	color: white;
	text-align: center;
	margin-top: 2.27rem;
}
.zpf-cont{
	width: 16rem;
	height: auto;
	overflow: hidden;
}
.zpf-c-o{
	width: 9rem;
	height: 1.18rem;
	border-bottom: 0.05rem #737373 solid;
	margin: 0.85rem auto 0 auto;
}
.zpf-c-z{
	font-size: 0.6rem;
	float: right;
    line-height: 1.18rem;
}
.zpf-c-o p a{
	color: #3598dc;
}
.zpf-c-o:nth-child(1){
	margin-top: 2.20rem;
}
.zpf-c-o img{
	display: block;
	width: 0.7rem;
	height: 0.68rem;
	margin-top: 0.25rem;
	margin-left: 0.13rem;
	float: left;
}
.zpf-c-o:nth-child(2) img{
	width: 0.7rem;
	height: 0.8rem;
	margin-top: 0.1rem;
}
.zpf-c-o:nth-child(2) input{
	width: 3.9rem;
}
.zpf-c-o:nth-child(3) img{
	width: 0.65rem;
	height: 0.85rem;
	margin-top: 0;
}
.zpf-c-o:nth-child(4) img{
	width: 0.65rem;
	height: 0.85rem;
	margin-top: 0;
}
.zpf-c-o input{
	display: block;
	width: 7rem;
	border: 0;
	background: none;
	outline: none;
	font-size: 0.65rem;
	color: black;
	line-height: 1.18rem !important;
	padding-left: 0.55rem;
	float: left;
}
::-webkit-input-placeholder {
	/* WebKit browsers */
	color: #d7d7d7;
}

 :-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: #d7d7d7;
}

 ::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: #d7d7d7;
}

 :-ms-input-placeholder {
	/* Internet Explorer 10+ */
	color: #d7d7d7;
}

.zpf-cont input[type=button]{
	display: block;
	width: 10rem;
	height: 1.7rem;
	border: 0;
	background: #3598dc;
	font-size: 0.7rem;
	color: white;
	text-align: center;
	line-height: 1.7rem;
	border-radius: 0.17rem;
	outline: none;
	margin: 1.13rem auto 0 auto;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}