*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
.zpf-wrap{
	width: 16rem;
	height: auto;
	overflow: hidden;
}
.zpf-head{
	width: 16rem;
	height: 2.2rem;
	background-color: #3598dc;
}
.zpf-head img{
	width: 0.5rem;
	height: 0.9rem;
	margin: 0.65rem 0 0 0.57rem;
	float: left;
}
.zpf-head h5{
	display: block;
	width: 1.68rem;
	height: 2.1rem;
	text-align: center;
	margin-left: 4.38rem;
	font-size: 0.68rem;
	color: white;
	line-height: 2.2rem;
	float: left;
	font-weight: normal;
}
.zpf-head h5:nth-child(3){
	margin-left: 1.65rem;
}
.zpf-max{
	width: 16rem;
	height: auto;
	overflow: hidden;
}
.zpf-active{
	font-size: 0.78rem !important;
	border-bottom: 0.1rem white solid !important;
}
.zpf-ban{
	width: 16rem;
	height: 10.35rem;
	overflow: hidden;
	border-bottom: 0.03rem #f0f0f0 solid;
}
.zpf-ban img{
	width: 16rem;
	height: 10.35rem;
}
.zpf-cont{
	width: 16rem;
	height: 5.65rem;
}
.zpf-cont p{
	display: block;
	width: 15rem;
	height: 1.9rem;
	font-size: 0.72rem;
	letter-spacing: 0.03rem;
	margin-left: 0.63rem;
	margin-top: 0.35rem;
}
.zpf-cont p:nth-child(2){
	font-size: 0.6rem;
	height: 1rem;
	line-height: 1.2rem;
}
.zpf-cont span{
	font-size: 0.7rem;
	color: red;
}
.zpf-cont label{
	font-size: 0.6rem;
	color: #999999;
	text-decoration:line-through ;
	margin-left: 1.52rem;
}
.zpf-c-o{
	width: 16rem;
	height: 1.7rem;
}
.zpf-c-o p{
	width: 4.52rem;
	line-height: 1.7rem;
	float: left !important;
}
.zpf-c-o input{
	display: block;
	width: 1.55rem;
	height: 1.15rem;
	border: 0;
	background: none;
	outline: none;
	border: 0.03rem #dadada solid;
	font-size: 0.6rem;
	color: black;
	text-align: center;
	line-height: 1.15rem;
	margin-top: 0.53rem;
	float: left;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}

.zpf-c-o input:nth-child(3){
	border-left: 0rem ;
	border-right: 0rem ; 
	color: red;
}
.zpf-main{
	width: 16rem;
	height: 3.4rem;
	border-top: 0.25rem #f2f2f2 solid;
}
.zpf-m-o{
	width: 16rem;
	height: 1.7rem;
}
.zpf-m-o p{
	font-size: 0.6rem;
	color: #bababa;
	line-height: 1.7rem;
	margin-left: 0.68rem;
	float: left;
}
.zpf-m-o p:nth-child(2){
	margin-left: 1rem;
}
.zpf-m-o img{
	width: 0.8rem;
	height: 0.17rem;
	margin-top: 0.9rem;
	margin-right: 0.75rem;
	float: right;
}
.zpf-m-i{
	display: block;
	width: 0.5rem !important;
	height: 0.6rem !important;
	float: left !important;
	margin-top: 0.6rem  !important;
}
.zpf-final{
	width: 16rem;
	height: auto;
	border-top: 0.25rem #f2f2f2 solid;
	margin-bottom: 2.58rem;
}
.zpf-final h5{
	font-size: 0.7rem;
	color: black;
	margin-top: 0.72rem;
	margin-left: 0.72rem;
	font-weight: normal;
}
.zpf-final p{
	font-size: 0.7rem;
	color: black;
	margin-top: 0.42rem;
	margin-left: 0.72rem;
}
.zpf-foot{
	width: 16rem;
	height: 2.42rem;
	position: fixed;
	bottom: 0;
	background: white;
}
.zpf-foot p{
	display: block;
	width: 9rem;
	height: 2.42rem;
	font-size: 0.6rem;
	border-top: 0.03rem #f5f5f5 solid;
	line-height: 2.42rem;
	padding-left: 0.7rem;
	float: left;
	color: black;
}
.zpf-foot input{
	display: block;
	width: 6.25rem;
	height: 2.42rem;
	border: 0;
	background: #3598dc;
	outline: none;
	font-size: 0.6rem;
	color: white;
	line-height: 2.42rem;
	text-align: center;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}
.zpf-foot span{
	color: red;
	font-size: 0.7rem;
}
.zpf-min{
	width: 16rem;
	height: 72.83rem;
	margin-bottom: 2.38rem;
}
.zpf-min img{
	width: 16rem;
	height: 72.83rem;
}
.zpf-footer{
	width: 16rem;
	height: 2.38rem;
	border-top: 0.03rem #f5f5f5 solid;
	position: fixed;
	bottom: 0;
	background: white;
}
.zpf-footer p{
	font-size: 0.6rem;
	color: black;
	line-height: 2.38rem;
	margin-left: 0.68rem;
	float: left;
}
.zpf-footer span{
	font-size: 0.7rem;
	color: red;
}
.zpf-footer input{
	display: block;
	width: 5.88rem;
	height: 1.70rem;
	float: right;
	margin-right: 0.25rem;
	margin-top: 0.38rem;
	border: 0;
	background: #3598DC;
	outline: none;
	border-radius: 0.13rem;
	font-size: 0.6rem;
	color: white;
	line-height: 1.7rem;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	text-align: center;
}
.zpf-link{
	width: 100%;
	height: 100%;
    overflow: hidden;
	position: fixed;
	top: 0;
	z-index: 99;
}
.zpf-tup{
	width: 100%;
	height: 60%;
	background: black;
	opacity: 0.6;
}
.zpf-tup img{
	width: 1.23rem;
	height: 1.23rem;
	position: absolute;
	bottom: 41%;
	left: 50%;
}
.zpf-dong{
	width: 100%;
	height: 40%;
	overflow: hidden;
	border-bottom: 0.25rem #f5f5f5 solid;
	background: white;
	position: absolute;
	bottom: 0;
	z-index: 99;
}
.zpf-d-l{
	width: 5.25rem;
	height: auto;
	overflow: hidden;
	float: left;
}
.zpf-d-l img{
	display: block;
	width: 4.55rem;
	height: 4.65rem;
	border: 0.03rem #3598db solid;
	margin: 0.72rem 0 0.82rem 0.62rem;
}
.zpf-d-r{
	width: 10.75rem;
	height: 6.22rem;
	overflow: hidden;
	float: left;
}
.zpf-d-r p{
	font-size: 0.6rem;
	color: #505962;
	margin-top: 0.72rem;
	margin-left: 0.57rem;
}
.zpf-d-r p:nth-child(2){
	margin-top: 0rem;
}
.zpf-d-r p:nth-child(3){
	margin-top: 0.8rem;
}
.zpf-r-z{
	width: auto;
	height: auto;
	margin-top: 0.8rem;
}
.zpf-r-z p{
	margin-top: 0;
	float: left;
}
.zpf-r-z input{
	display: block;
	width: 0.93rem;
	height: 0.7rem;
	font-size: 0.35rem;
	color: #8d9296;
	line-height: 0.7rem ;
	text-align: center;
	border: 0;
	outline: none;
	background: none;
	border: 0.03rem #dadada dashed;
	float: left;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}
.zpf-r-z input:nth-child(2){
	margin-left: 4.3rem;
}
.zpf-r-z input:nth-child(3){
	border-left: none;
	border-right: none;
	color: #ff6158;
}
.zpf-fei{
	width: 16rem;
	height: 3.41rem;
	float: left;
}
.zpf-fei p{
	font-size: 0.7rem;
	color: red;
	line-height: 3.41rem;
	margin-left: 0.65rem;
	float: left;
}
.zpf-fei input{
	display: block;
	width: 6.25rem;
	height: 1.95rem;
	border: 0;
	background: #3598dc;
	outline: none;
	font-size: 0.6rem;
	color: white;
	line-height: 1.95rem;
	text-align: center;
	float: right;
	border-radius: 0.17rem;
	margin-right: 0.42rem;
	margin-top: 0.7rem;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}
