*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
.zpf-wrap{
	width: 16rem;
	height: auto;
	overflow: hidden;
}
.zpf-head{
	width: 16rem;
	height: 2.2rem;
	background-color: #3598dc;
}
.zpf-head img{
	width: 0.5rem;
	height: 0.9rem;
	margin: 0.65rem 0 0 0.57rem;
	float: left;
}
.zpf-head h5{
	margin-left: 5.42rem;
	font-size: 0.78rem;
	color: white;
	line-height: 2.2rem;
	float: left;
	font-weight: normal;
}
.zpf-ban{
	width: 16rem;
	height: 4.4rem;
	border-top: 0.38rem #f5f5f5 solid;
}
.zpf-ban h5{
	display: block;
	text-align: center;
	font-size: 1.2rem;
	color: #df3c3f;
	margin-top: 1rem;
	font-weight: normal;
}
.zpf-ban p{
	display: block;
	text-align: center;
	font-size: 0.6rem;
	color: #272727;
	margin-top: 0.3rem;
}
.zpf-box{
	width: 16rem;
	height: 1.7rem;
	background: #F5F5F5;
	border-top: 0.03rem #e6e6e6 solid;
	border-bottom: 0.03rem #e6e6e6 solid;
}
.zpf-box p{
	font-size: 0.65rem;
	color: black;
	line-height: 1.7rem;
	margin-left: 0.7rem;
}
.zpf-main{
	width: 14.9rem;
	height: 3.65rem;
	border-bottom: 0.03rem #d4d4d4 solid;
	margin: 0 auto;
}
.zpf-m-l{
	width: 3.08rem;
	height: 3.65rem;
	float: left;
}
.zpf-m-l img{
	display: block;
	width: 3.08rem;
	height: 2.52rem;
	margin-top: 0.57rem;
}
.zpf-m-c{
	width: 8.9rem;
	height: 3.65rem;
	float: left;
}
.zpf-m-c p{
	font-size: 0.7rem;
	color: black;
	margin-top: 0.8rem;
	margin-left: 0.6rem;
}
.zpf-m-c p:nth-child(2){
	margin-top: 0.3rem;
}
.zpf-m-r{
	width: 2.92rem;
	height: 3.65rem;
	float: left;
}
.zpf-m-r p{
	font-size: 1rem;
	color: #e03d3e;
	line-height: 3.65rem;
	text-align: right;
}

