*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
}
.zpf-wrap{
	width: 16rem;
	height: auto;
	overflow: hidden;
}
.zpf-head{
	width: 16rem;
	height: 2.2rem;
	background-color: #3598dc;
}
.zpf-head img{
	width: 0.5rem;
	height: 0.9rem;
	margin: 0.65rem 0 0 0.57rem;
	float: left;
}
.zpf-head h5{
	margin-left: 5.42rem;
	font-size: 0.78rem;
	color: white;
	line-height: 2.2rem;
	float: left;
	font-weight: normal;
}
.zpf-ban{
	width: 16rem;
	height: 2rem;
	border-bottom: 0.03rem #eeeeee solid;
}
.zpf-ban ul{
	width: 16rem;
	height: 2rem;

}
.zpf-ban ul li{
	display: inline-block;
	width: 2.92rem;
	height: 2rem;
	font-size: 0.6rem;
	color: black;
	line-height: 2rem;
	text-align: center;
	font-weight: bold;
}
.zpf-active{
	color: #4ba0de !important;
	border-bottom: 0.03rem #4ba0de solid !important;
}
.zpf-link{
	width: 16rem;
	height: auto;
	overflow: hidden;
}
.zpf-cont{
	width: 14.8rem;
	height: 3.98rem;
	border-bottom: 0.03rem #d4d4d4 solid;
	margin: 0 auto;
}
.zpf-main{
	width: 14.9rem;
	height: 3.65rem;
	border-bottom: 0.03rem #d4d4d4 solid;
	margin: 0 auto;
}
.zpf-m-l{
	width: 3.08rem;
	height: 3.65rem;
	float: left;
}
.zpf-m-l img{
	display: block;
	width: 3.08rem;
	height: 2.52rem;
	margin-top: 0.57rem;
}
.zpf-m-c{
	width: 7.8rem;
	height: 3.65rem;
	float: left;
}
.zpf-m-c p{
	font-size: 0.6rem;
	color: black;
	margin-top: 0.5rem;
	margin-left: 0.6rem;
}
.zpf-m-c p:nth-child(2){
	margin-top: 0.1rem;
}
.zpf-m-c p:nth-child(3){
	margin-top: 0.1rem;
}
.zpf-m-r{
	width: 3.97rem;
	height: 3.2rem;
	margin-top: 0.27rem;
	border-left: 0.03rem #e6e6e6 solid;
	float: left;
}
.zpf-m-r p{
	font-size: 0.6rem;
	color: black;
	margin-top: 0.5rem;
	margin-left: 0.2rem;
}







