<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="author" content="ZZJBS"/>
        <!-- 引入文件 -->
        <link rel="stylesheet" href="/css/swiper.min.css"/>
        <link rel="stylesheet" href="/css/common.css" /><!-- 公共样式 -->
        <link rel="stylesheet" href="/css/header.css"/>
        <link rel="stylesheet" href="/css/lf_style.css"/>
        <script type="text/javascript" src="/js/lib/jquery-3.1.1.min.js"></script><!-- 引入jquery文件 -->
        <script type="text/javascript" src="/js/lib/swiper.min.js"></script>
        <script type="text/javascript" src="/js/app/common.js"></script><!-- 引入公共js文件 -->
        <title>携工网</title>
        <style>
            .lf_thirdNav{
                background: none;
            }
            .lf_thirdNav li{
                background:#fff;
            }
            .lf_secondNav>ul{
                position: static;

            }
            .lf_secondNav>ul>li{
                position:relative;
            }
        </style>
<body>
    <form id="where" action="/Home/Index/search" method="get">
        <input type="hidden" name="search_va" value="{{$_GET['search_va']}}"/>
        <input type="hidden" name="search_type" value="{{$_GET['search_type']}}"/>
        <!--<input type="hidden" name="category_id" value="{{$_GET['category_id']}}"/>-->
    </form>
    <script>
        $(document).ready(function () {
            $('.search_btn').on('click',function () {
                var type = $('.search_type').val();
                var value= $('#search_value').val();
                $('input[name=search_va]').attr('value',value);
                $('input[name=search_type]').attr('value',type);
                $('#where').submit();
            });
        });
    </script>
    	<header class="lf_header">
    		<!-- 顶部 -->
    		<div class="lf_head">
    			<div class="lf_headWrap lf_clearFloat">
    				<p class="lf_welcome lf_left">欢迎来到携工网</p>
    				<ul class="lf_activeNav lf_clearFloat lf_left">
                        @if($_SESSION['home']['user']['id'] < 1)
    					<li class="lf_navli">
    						<a href="/Home/Auth/login.html" class="lf_jump">请登录</a>
    					</li>

    					<li class="lf_navli lf_registFree">
    						<a href="/Home/Auth/register.html" class="lf_jump">免费注册</a>
    					</li>
                        @else
                        <li class="lf_navli lf_registFree">
                            <a href="javascript:void(0);" class="lf_jump">{{$_SESSION['home']['user']['nickname']}}</a>
                        </li>
                        <li class="lf_navli">
                            <a href="/Home/Auth/logout.html" class="lf_jump">退出</a>
                        </li>
                        @endif

    					<li class="lf_navli lf_phone">
    						<a href="javascript:void(0);" class="lf_jump">
    							<i class="lf_icon"></i>手机携工网
    						</a>
    					</li>
    					<li class="lf_navli lf_wechat">
    						<a href="javascript:void(0);" class="lf_jump">
    							<i class="lf_icon"></i>微信公众号
    						</a>
    					</li>
    				</ul>
    				<ul class="lf_stableNav lf_clearFloat lf_right">
    					<li class="lf_navli">
    						<a href="/Home/Profile/index.html" class="lf_jump">个人中心</a>
    					</li>
    					<li class="lf_navli">
    						<a href="/Home/Profile/myOrder.html" class="lf_jump">我的订单</a>
    					</li>
    					<li class="lf_navli lf_wechat">
    						<a href="/Home/News/index" class="lf_jump">
    							<i class="lf_icon"></i>消息@if($message['no_read_all_num'] >= 1)<i class="lf_iconMsg">{{$message['no_read_all_num']}}</i> @endif
    						</a>
    					</li>
    				</ul>
    			</div>
    		</div>
    		<!-- 搜索栏 -->
    		<div class="lf_searchBox">
    			<div class="lf_searchWrap lf_clearFloat">
    				<a href="/Home/Index/index.html" class="lf_jump lf_left">
    					<img src="/images/lf_logo.png" height="96" width="114" alt="" class="lf_logo"/>
    				</a>
    				<div class="lf_left lf_location">
    					<!--<select name="" id="">-->
    						<!--<option value="">郑州</option>-->
    					<!--</select>-->
    					<!--<p>切换城市更精确</p>-->
    				</div>
    				<div class="lf_left lf_search lf_borderBox">
    					 <div class="lf_headSelect lf_left">
                            <select name="" id="" class="search_type">
                                <option  value="1">找需求</option>
                                <option  value="2">找团队</option>
                                <option  value="3">找商品</option>
                                <option  value="4">找店铺</option>
                            </select>
                        </div>
                        <input  id="search_value" type="search" name="search"/>
                        <button class="search_btn" type="button">搜 索</button>
    				</div>
    				<ul class="lf_right lf_indexNav">
    					<li>
    						<a href="/Home/Notice/index.html" class="lf_jump">
    							<img src="/images/lf_rule_03.png" alt=""/>
    							<span>公告</span>
    						</a>
    					</li>
    					<li>
    						<a href="/Home/Notice/index.html" class="lf_jump">
    							<img src="/images/icon_what.png" alt=""/>
    							<span>规则</span>
    						</a>
    					</li>
    					<li>
    						<a href="/Home/Notice/index.html" class="lf_jump">
    							<img src="/images/icon_blackperson.png" alt=""/>
    							<span>黑名单</span>
    						</a>
    					</li>
    				</ul>
    			</div>
    		</div>
            <!-- 头部导航 -->
            <div class="lf_headNav">
                <div class="lf_headNavwrap">
                    <ul class="lf_headNavlist">
                        <li class="lf_headNavItem lf_allClassify">
                            <a href="javascript:void(0);" class="lf_jump">
                                全部分类
                            </a>
                            <div class="lf_secondNav">
                                <ul class="jyt_123">
                                    @foreach($categories as $category)
                                    <li>
                                        @if($category->pid == 0)
                                        <a class="lf_thirdNavlist" href="/Home/Demand/needHouse.html?type=-2&index=1&category_id={{$category->id}}" >{{$category->name}}</a>
                                        @endif
                                        <div class="lf_thirdNav">
                                            <ul>
                                                @foreach($categories as $value)
                                                @if($category->id == $value->pid)
                                                <li>
                                                    <a href="/Home/Demand/needHouse.html?type=-3&index=1&category_id={{$value->id}}">{{$value->name}}</a>
                                                </li>
                                                @endif
                                                @endforeach
                                            </ul>
                                        </div>
                                    </li>
                                    @endforeach
                                </ul>
                            </div>
                        </li>
                        <li class="lf_headNavItem @if(CONTROLLER_NAME=='Index') lf_headNav-on @endif">
                            <a href="javascript:void(0);" class="lf_jump">首页</a>
                        </li>
                        <li class="lf_headNavItem @if(CONTROLLER_NAME=='Demand') lf_headNav-on @endif">
                            <a href="/Home/Demand/needHouse.html?index=1" class="lf_jump">需求大厅</a>
                        </li>
                        <li class="lf_headNavItem @if(CONTROLLER_NAME=='Service') lf_headNav-on @endif">
                            <a href="/Home/Service/serviceHall.html" class="lf_jump">服务大厅</a>
                        </li>
                        <li class="lf_headNavItem @if(CONTROLLER_NAME=='Material') lf_headNav-on @endif">
                            <a href="/Home/Material/goods.html" class="lf_jump">辅材街</a>
                        </li>
                        <li class="lf_headNavItem @if(CONTROLLER_NAME=='TeamEducate') lf_headNav-on @endif">
                            <a href="/Home/TeamEducate/submitTrain.html" class="lf_jump">团队培训</a>
                        </li>
                    </ul>
                </div>
            </div>
    	</header>
        <div class="content">
            <!-- banner -->
            <div class="lf_banner">
                 <!-- banner图轮播 -->
                 <div class="swiper-container lf_bannerWraper">
                    <div class="swiper-wrapper">
                        @foreach($banners as $banner)
                        <div class="swiper-slide">
                            <a class="lf_jump" href="{{$banner->url}}">
                                <img class="content-banner" src="{{$banner->img}}" />
                            </a>
                        </div>
                        @endforeach
                    </div>
                    <!-- 如果需要分页器 -->
                    <div class="swiper-pagination lf_page"></div>
                </div>
            </div>
            <div class="lf_indexnumDetail">
                <div class="lf_indexnumDetailwrap lf_clearFloat">
                    <ul class="lf_left lf_displayFlex">
                        <li>
                            <h2 class="lf_indexNumber">
                                <img src="/images/icon_person.png" alt=""/>
                                <span>{{sprintf('%.2f',$index_config['reg_user_num'])}}</span>
                            </h2>
                            <p class="lf_numdescript">注册用户（人）</p>
                        </li>
                       <li>
                            <h2 class="lf_indexNumber">
                                <img src="/images/icon_more.png" alt=""/>
                                <span>{{sprintf('%.2f',$index_config['add_object'])}}</span>
                            </h2>
                            <p class="lf_numdescript">新增项目</p>
                        </li>
                        <li>
                            <h2 class="lf_indexNumber">
                                <img src="/images/icon_rmb.png" alt=""/>
                                <span>{{sprintf('%.2f',$index_config['demand_money'])}}</span>
                            </h2>
                            <p class="lf_numdescript">需求总金额</p>
                        </li>
                    </ul>
                    <div class="lf_right lf_indexBtns">
                        <button class="lf_freeBtn" type="button" >免费发需求</button>
                        <button class="lf_openBtn" type="button">我要开店</button>
                    </div>
                </div>
            </div>
            <!-- 首页商品列表 -->
            <div class="lf_indexGoods">
                <div class="lf_indexGoodsbox">
                    <ul class="lf_indexGoodsbox-title lf_borderBox">
                        <li class="lf_borderBox lf_indexListon">星级安装团队</li>
                        <li class="lf_borderBox">星级辅材店铺</li>
                    </ul>
                    <div class="lf_indexGoodsbox-con">
                        <div class="lf_indexGoodsCon lf_indexGoodsCon-on">
                            <ul class="lf_clearFloat">
                                @foreach($teams as $user)
                                <li class="lf_borderBox">
                                    <a href="/Home/Service/detail.html?id={{$user->id}}" class="lf_jump">
                                        <img src="{{$user->headimg}}" alt=""/>
                                    </a>
                                    <div class="lf_indexGoodsDetail">
                                        <div class="lf_indexGoodsDetail-title lf_clearFloat">
                                            <h2 class="lf_left">{{$user->truename}}</h2>
                                            <div class="lf_right lf_indexStar">
                                                @for($i = 0;$i < 5;$i++)
                                                @if($i < $user->stars)
                                                <img src="/images/icon_start.png" alt=""/>
                                                @else
                                                <img src="/images/icon_start1.png" alt=""/>
                                                @endif
                                                @endfor
                                            </div>
                                        </div>
                                        <p class="lf_indexService">
                                            <i>服务内容</i>
                                            <span>
                                             @if($user->my_service->category->pid == 0)
                                            {{$user->my_service->category->name}}
                                            @else
                                            {{$user->my_service->category->upCategory->name}} {{$user->my_service->category->name}}
                                            @endif
                                        </span>
                                        </p>
                                        <p class="lf_indexService">
                                             <i>服务类型</i><span>
                                            <?php
                                                $service_name = $service_model->whereIn('id', explode(",", $user->my_service->servicetype_id))->pluck('name');
                                                foreach($service_name as $service){
                                                    echo $service.' ';
                                                }
                                            ?>
                                        </span>
                                        </p>
                                        <p class="lf_indexService">
                                             <i>区域</i><span>{{$user->my_service->city}} {{$user->my_service->area}}</span>
                                        </p>
                                        <button class="lf_indexConnect" onclick="window.location.href='/Home/Service/detail.html?id={{$user->id}}'" type="button">联系我</button>
                                    </div>
                                </li>
                                @endforeach
                            </ul>
                        </div>
                        <div class="lf_indexGoodsCon">
                            <ul class="lf_clearFloat">
                                @foreach($shops as $shop)
                                <li class="lf_borderBox">
                                    <a href="/Home/Material/shopTemp.html?shop_id={{$shop->id}}" class="lf_jump">
                                        <img src="{{$shop->logo}}" alt=""/>
                                    </a>
                                    <div class="lf_indexGoodsDetail">
                                        <div class="lf_indexGoodsDetail-title lf_clearFloat">
                                            <h2 class="lf_left">{{$shop->title}}</h2>
                                        </div>
                                        <p class="lf_indexService">
                                            <i>主营商品</i><span> {{$shop->maingoods}}</span>
                                        </p>
                                        <p class="lf_indexService">
                                             <i>区域</i><span>{{$shop->province}} {{$shop->city}}</span>
                                        </p>
                                        <button class="lf_indexToshop" type="button">联系我</button>
                                    </div>
                                </li>
                                @endforeach
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- 广告 -->
                <div class="lf_indexAdv">
                	<ul class="lf_clearFloat">
                		<li class="lf_left">
                			<a href="javascript:void(0);" class="lf_jump">
                				<img src="/images/lf_adv.png" alt=""/>
                			</a>
                			<button class="lf_advbtn">广告</button>
                		</li>
                		<li class="lf_right">
                			<a href="javascript:void(0);" class="lf_jump">
                				<img src="/images/lf_adv.png" alt=""/>
                			</a>
                			<button class="lf_advbtn">广告</button>
                		</li>
                	</ul>
                </div>
                <!-- 首页 需求-->
                <div class="lf_demand">
                	<div class="lf_demandTitle">
                		<div class="lf_demandTitlewrap">
                            <ul>
                                <li class="lf_demandQ">
                                    风安帮如何解决您的需求？
                                </li>
                                 <li class="lf_demandA">
                                    1.  选择您的需求类型
                                </li>
                                 <li style="margin-left:20px;width:150px" class="lf_demandA">
                                    2.  描述您的需求
                                </li>
                                 <li style="width:158px" class="lf_demandA">
                                    3.  托管项目金额到风安帮
                                </li>
                                 <li style="margin-left:30px" class="lf_demandA">
                                    4.  挑选安装团队施工
                                </li>
                                <li style="width:135px;margin-left:10px" class="lf_demandA">
                                    5.  验收满意 确认付款
                                </li>
                            </ul>
                        </div>
                	</div>
                </div>
                <!-- 热门需求 --> 
                <div class="lf_demandBox">
                    <div class="lf_demandBoxwrap">
                        <h2 class="lf_demand-title">热门需求</h2>
                        <ul class="lf_displayFlex lf_demand-content">
                            @foreach($works as $work)
                            <li>
                                <a href="/Home/Demand/needShow/id/{{$work->id}}" class="lf_jump lf_borderBox">
                                    <h3 class="lf_demandCon-title">
                                       {{$work->title}}
                                    </h3>
                                    <div class="lf_tender">
                                        <p class="lf_left">
                                            ￥<span>{{$work->money}}</span>
                                        </p>
                                        <p class="lf_right">{{date('Y-m-d',$work->out_time)}}</p>
                                    </div>
                                    <div class="lf_demandSource lf_clearFloat">
                                        <img src="/images/lf_shop.png" alt=""/>
                                        <p class="lf_demandShop lf_left">
                                            由 <span>{{$work->user->auth->name}}</span> 提供
                                        </p>
                                        <p class="lf_right lf_demandAddress">
                                            <span class="lf_demand-address"></span>{{$work->city}}  {{$work->area}}
                                        </p>
                                    </div>
                                </a>
                            </li>
                            @endforeach
                        </ul>
                         <div class="lf_moreDemand">
                            <input id="login" type="button" onclick="window.location.href='/Home/Demand/needHouse.html?index=1'" value="查看更多需求 ▶"/>
                        </div>
                    </div>
                </div>
            </div> 
           <!-- 加盟 -->
           <div class="lf_joinIn">
               <div class="lf_joinInwrap">
                   <a href="javascript:void(0);" class="lf_jump">
                       <img src="/images/lf_join.png" alt=""/>
                   </a>
               </div>
               
           </div>
        </div>

        <footer>
           
        </footer>
        <div id="aside"></div>
        <script type="text/javascript">

        $('.lf_freeBtn').click(function () {
            
            window.location.href="/Home/Demand/chooseType";
        });
        $('.lf_openBtn').click(function () {



            window.location.href="/Home/Store/auth.html";
        });
            /*首页轮播图*/
            $(function () {
                var mySwiper = new Swiper ('.swiper-container', {
                    direction: 'horizontal',
                    loop: true,
                    autoplay : 3000, //时间
                    // 如果需要分页器
                    pagination: '.swiper-pagination',
                    autoplayDisableOnInteraction : false,
                 }) ; 
            });
            //商品选项卡
            $('.lf_indexGoodsbox-title li').on('click',function(){
                $('.lf_indexGoodsbox-title li').removeClass('lf_indexListon');
                $('.lf_indexGoodsbox-title li').eq($(this).index()).addClass('lf_indexListon');
                $('.lf_indexGoodsbox-con .lf_indexGoodsCon').css('display','none');
                $('.lf_indexGoodsbox-con .lf_indexGoodsCon').eq($(this).index()).css('display','block');
            });
            var _h = $('.lf_indexGoodsCon>ul>li').length;
            for(var i = 1;i<_h;i++){
                
                if(((i-3)%4)==0){
                    $('.lf_indexGoodsCon>ul>li').eq(i).css('margin-right','0');
                }
            }
        </script>

    </body>
</html>
 