
<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="/css/zpf_style.css" />
		<link rel="stylesheet" href="/css/common.css" />
		<link rel="stylesheet" href="/css/kll_need.css" />
		<script src="/js/lib/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script>
		<title></title>
	</head>

	<body>
		<header>
			@include('Public.header');
		</header>
		<div class="zpf_ser_wrap">
			<ul class="kll-need_type" style="margin-top: 30px;">
				<!--第一排-->
				<li class="kll-need_list kll-need_list_one">
					<p class="kll-need_class">需求类型<img class="kll-need_img" src="/images/need_down.png" /></p>
					<ul class="kll-need_classul">
						<li class="kll-need_list">
							全部
						</li>
					</ul>
				</li>
				<!--详细的分类-->
				<li class="kll-need_list">
					<p class="kll-need_class">新风系统</p>
					<ul class="kll-need_classul">
						<li class="kll-need_list">
							全部
						</li>
						<li class="kll-need_list">
							壁挂机
						</li>
						<li class="kll-need_list">
							吊顶机
						</li>
						<li class="kll-need_list">
							柜式机
						</li>
						<li class="kll-need_list">
							组合机
						</li>
					</ul>
				</li>
				<li class="kll-need_list">
					<p class="kll-need_class">空调</p>
					<ul class="kll-need_classul">
						<li class="kll-need_list">
							全部
						</li>
						<li class="kll-need_list">
							壁挂机
						</li>
						<li class="kll-need_list">
							吊顶机
						</li>
						<li class="kll-need_list">
							柜式机
						</li>
					</ul>
				</li>
			</ul>
			<div class="kll-need_change" style="margin-top: 25px;background: #f5f5f5;">
				<p class="kll-need_p kll-need_pone kll-need_pchange">进行中</p>
				<p class="kll-need_p kll-need_ptwo">已完成</p>
				<ul class="kll-need_ul">
					<li class="kll-need_list kll-need_listchange">
						<span class="kll-need_span">默认</span>
					</li>
					<li class="kll-need_list">
						<span class="kll-need_span">销量</span>
						<img class="kll-need_img" src="/images/kll_updown.png" />
					</li>
					<li class="kll-need_list">
						<span class="kll-need_span">价格</span>
						<img class="kll-need_img" src="/images/kll_updown.png" />
					</li>
					<li class="kll-need_list">
						<input class="kll-need_input" type="text" style="background: white;" />
						<span class="kll-need_span">~</span>
						<input class="kll-need_input" type="text" style="background: white;" />
						<span class="kll-need_ok">确定</span>
					</li>
					<li class="kll-need_list kll-need_site">
						<b class="kll-need_b">郑州</b><img class="kll-need_img" src="/images/need_down.png" />
						<div class="kll-need_out">
							<h4 class="kll-need_h4">请选择区</h4>
							<ul class="kll-need_siteul">
								<li class="kll-need_siteli">金水区</li>
								<li class="kll-need_siteli">惠济区</li>
								<li class="kll-need_siteli">二七区</li>
								<li class="kll-need_siteli">中原区</li>
								<li class="kll-need_siteli">管城区</li>
								<li class="kll-need_siteli">高新区</li>
								<li class="kll-need_siteli">经开区</li>
								<li class="kll-need_siteli">郑东新区</li>
								<li class="kll-need_siteli">航空港</li>
								<li class="kll-need_siteli">上街区</li>
							</ul>
						</div>
					</li>
					<li class="kll-need_clear"></li>
				</ul>
			</div>
			<div class="zpf_ser_main">
				<div class="zpf_ser_main_left">
					<img src="/images/zpf_5.png"/>
				</div>
				<div class="zpf_ser_main_center">
					<p>迪信配件</p>
					<p>主营商品：空调配件</p>
					<p>所在地区：河南 郑州</p>
				</div>
				<div class="zpf_ser_main_right">
					<input type="button" id="" value="进入店铺 >>" onclick="window.location.href='/Home/Material/shop.html'" />
				</div>
			</div>
            <div class="zpf_ser_main">
				<div class="zpf_ser_main_left">
					<img src="/images/zpf_5.png"/>
				</div>
				<div class="zpf_ser_main_center">
					<p>迪信配件</p>
					<p>主营商品：空调配件</p>
					<p>所在地区：河南 郑州</p>
				</div>
				<div class="zpf_ser_main_right">
					<input type="button" id="" value="进入店铺 >>" />
				</div>
			</div>
			<div class="zpf_ser_main">
				<div class="zpf_ser_main_left">
					<img src="/images/zpf_5.png"/>
				</div>
				<div class="zpf_ser_main_center">
					<p>迪信配件</p>
					<p>主营商品：空调配件</p>
					<p>所在地区：河南 郑州</p>
				</div>
				<div class="zpf_ser_main_right">
					<input type="button" id="" value="进入店铺 >>" />
				</div>
			</div>
			<div class="zpf_ser_main">
				<div class="zpf_ser_main_left">
					<img src="/images/zpf_5.png"/>
				</div>
				<div class="zpf_ser_main_center">
					<p>迪信配件</p>
					<p>主营商品：空调配件</p>
					<p>所在地区：河南 郑州</p>
				</div>
				<div class="zpf_ser_main_right">
					<input type="button" id="" value="进入店铺 >>" />
				</div>
			</div>
		</div>
		<footer>
			@include('Public.footer');
			
		</footer>
		<div class="sidebar">
			@include('Public.sidebar');
		</div>
	</body>
	<script type="text/javascript">
		// $("header").load("header.html");
		// $("footer").load("footer.html");
		// $(".sidebar").load("sidebar.html");
	</script>

</html>