<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Table</title>
    <link rel="stylesheet" href="/assets/plugins/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="/assets/css/global.css" media="all">
    <link rel="stylesheet" href="/assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/table.css" />
</head>
<body>








<script type="text/javascript" src="/assets/plugins/layui/layui.js"></script>
<script>
    layui.use('layer', function(){
        var layer = layui.layer;
        layer.msg('Hello World');
    });
</script>
</body>
</html>