
<li>

    <a href="/Admin/Index/index.html">

        <i class="icon-dashboard"></i>

        <span class="menu-text"> 控制台 </span>

    </a>

</li>




<li @if(CONTROLLER_NAME=='Users') class="active" @endif >

    <a class="dropdown-toggle">

        <i class="icon-list"></i>

        <span class="menu-text"> 用户管理 </span>



        <b class="arrow icon-angle-down"></b>

    </a>



    <ul class="submenu">

        <li @if(CONTROLLER_NAME=='Users' && $_GET['is_auth']==2) class="active" @endif>

        <a href="/Admin/Users/index.html">

            <i class="icon-double-angle-right"></i>

            认证用户

        </a>

        </li>
        <li @if(CONTROLLER_NAME=='Users' && $_GET['is_auth']==1) class="active" @endif>

        <a href="/Admin/Users/index1.html">

            <i class="icon-double-angle-right"></i>
            未认证用户
        </a>

        </li>
        <li @if(CONTROLLER_NAME=='Users' && ACTION_NAME=='businessAuth') class="active" @endif>

            <a href="/Admin/Users/businessAuth.html">

                <i class="icon-double-angle-right"></i>
                企业认证
            </a>

        </li>
        <li @if(CONTROLLER_NAME=='Users' && ACTION_NAME=='ownAuth') class="active" @endif>

            <a href="/Admin/Users/ownAuth.html">

                <i class="icon-double-angle-right"></i>
                个人认证
            </a>

        </li>
    </ul>
</li>

<li @if(CONTROLLER_NAME=='Demand') class="active" @endif>

    <a href="javascript:void(0)" class="dropdown-toggle">

        <i class="icon-list"></i>

        <span class="menu-text"> 需求大厅 </span>

        <b class="arrow icon-angle-down"></b>

    </a>

    <ul class="submenu">

        <li @if(CONTROLLER_NAME=='Demand' && ACTION_NAME=='index') class="active" @endif>

            <a href="/Admin/Demand/index.html">

                <i class="icon-double-angle-right"></i>

                需求列表
            </a>

        </li>

    </ul>

</li>

<!--  <li  @if(CONTROLLER_NAME=='Goods') class="active" @endif>

   <a href="javascript:void(0)" class="dropdown-toggle">

      <i class="icon-list"></i>
       <span class="menu-text"> 商品管理 </span>

       <b class="arrow icon-angle-down"></b>

   </a>



   <ul class="submenu">
       <li @if(CONTROLLER_NAME=='Goods' && ACTION_NAME=='index') class="active" @endif >

           <a href="/Admin/Goods/index.html">

               <i class="icon-double-angle-right"></i>
               商品列表
           </a>

       </li>
       <li @if(CONTROLLER_NAME=='Goods' && ACTION_NAME=='add') class="active" @endif >

           <a href="/Admin/Goods/add.html">

               <i class="icon-double-angle-right"></i>

               添加商品

           </a>
       </li>

   </ul>

    </li> -->
<li  @if(CONTROLLER_NAME=='TeamEducate') class="active" @endif>

    <a href="javascript:void(0)" class="dropdown-toggle">

        <i class="icon-list"></i>
        <span class="menu-text"> 团队培训管理 </span>

        <b class="arrow icon-angle-down"></b>

    </a>



    <ul class="submenu">

        <li @if(CONTROLLER_NAME=='TeamEducate' && ACTION_NAME=='activeEducate') class="active" @endif >
            <a href="/Admin/TeamEducate/activeEducate.html">

                <i class="icon-double-angle-right"></i>

                培训活动管理

            </a>

        </li>
    </ul>

</li>
<li  @if(CONTROLLER_NAME=='Article') class="active" @endif>

    <a href="javascript:void(0)" class="dropdown-toggle">

        <i class="icon-list"></i>
        <span class="menu-text"> 文章管理 </span>

        <b class="arrow icon-angle-down"></b>

    </a>



    <ul class="submenu">

        <li @if(CONTROLLER_NAME=='Article' && ACTION_NAME=='index') class="active" @endif >

            <a href="/Admin/Article/index.html">

                <i class="icon-double-angle-right"></i>
                文章列表
            </a>
        </li>
        <li @if(CONTROLLER_NAME=='Article' && ACTION_NAME=='message') class="active" @endif >

            <a href="/Admin/Article/message.html">

                <i class="icon-double-angle-right"></i>
                消息列表
            </a>
        </li>
        <li @if(CONTROLLER_NAME=='Article' && ACTION_NAME=='blackList') class="active" @endif >

            <a href="/Admin/Article/blackList.html">

                <i class="icon-double-angle-right"></i>
                黑名单列表
            </a>
        </li>
    </ul>

</li>

<li @if(CONTROLLER_NAME=='Category') class="active" @endif>

    <a href="javascript:void(0)" class="dropdown-toggle">

        <i class="icon-list"></i>

        <span class="menu-text"> 需求类别管理 </span>



        <b class="arrow icon-angle-down"></b>

    </a>



    <ul class="submenu">

        <li @if(CONTROLLER_NAME=='Category' && ACTION_NAME=='index' && $_GET['type']==1) class="active" @endif >

        <a href="/Admin/Category/index.html">

            <i class="icon-double-angle-right"></i>

            需求类别列表

        </a>

        </li>
        <!--                         <li @if(CONTROLLER_NAME=='Banner' && ACTION_NAME=='index' && $_GET['type']==2) class="active" @endif >

                                <a href="/Admin/Banner/index/type/2.html">

                                    <i class="icon-double-angle-right"></i>

                                    积分商城轮播图列表

                                </a>

                                </li>
                                <li @if(CONTROLLER_NAME=='Banner' && ACTION_NAME=='add') class="active" @endif >

                                    <a href="/Admin/Banner/add.html">

                                        <i class="icon-double-angle-right"></i>

                                        添加图片

                                    </a>

                                </li> -->
    </ul>

</li>
<li @if(CONTROLLER_NAME=='Shop') class="active" @endif>

    <a href="javascript:void(0)" class="dropdown-toggle">

        <i class="icon-list"></i>

        <span class="menu-text"> 店铺管理 </span>



        <b class="arrow icon-angle-down"></b>

    </a>



    <ul class="submenu">

        <li @if(CONTROLLER_NAME=='Shop' && ACTION_NAME=='index') class="active" @endif >

            <a href="/Admin/Shop/index.html">

                <i class="icon-double-angle-right"></i>

                店铺列表

            </a>

        </li>
        <!-- <li @if(CONTROLLER_NAME=='Profit' && ACTION_NAME=='config') class="active" @endif >

            <a href="/Admin/Profit/config.html">

                <i class="icon-double-angle-right"></i>

                鼓励奖历史配置

            </a>

        </li> -->
        <!--                         <li @if(CONTROLLER_NAME=='Profit' && ACTION_NAME=='setConfig') class="active" @endif >

                                    <a href="/Admin/Profit/setConfig.html">

                                        <i class="icon-double-angle-right"></i>

                                        鼓励奖配置

                                    </a>

                                </li> -->
    </ul>

</li>
<li @if(CONTROLLER_NAME=='Order') class="active" @endif>

    <a href="javascript:void(0)" class="dropdown-toggle">

        <i class="icon-list"></i>

        <span class="menu-text"> 财务管理 </span>

        <b class="arrow icon-angle-down"></b>

    </a>



    <ul class="submenu">

        <li @if(CONTROLLER_NAME=='Order' && ACTION_NAME=='index') class="active" @endif >

            <a href="/Admin/Order/index.html">
                <i class="icon-double-angle-right"></i>

                充值列表

            </a>

        </li>

        <li @if(CONTROLLER_NAME=='Order' && ACTION_NAME=='index1') class="active" @endif >

            <a href="/Admin/Order/index1.html">
                <i class="icon-double-angle-right"></i>

                保证金列表

            </a>

        </li>

        <li @if(CONTROLLER_NAME=='Order' && ACTION_NAME=='getCash') class="active" @endif >

            <a href="/Admin/Order/getCash.html">
                <i class="icon-double-angle-right"></i>

                提现管理

            </a>

        </li>
    </ul>

</li>
<!--                 <li @if(CONTROLLER_NAME=='Participation') class="active" @endif>

                    <a href="javascript:void(0)" class="dropdown-toggle">

                        <i class="icon-list"></i>

                        <span class="menu-text"> 代缴项目管理 </span>

                        <b class="arrow icon-angle-down"></b>

                    </a>



                    <ul class="submenu">

                        <li @if(CONTROLLER_NAME=='Participation' && ACTION_NAME=='index') class="active" @endif >

                            <a href="/Admin/Participation/index.html">
                                <i class="icon-double-angle-right"></i>

                                分红

                            </a>

                        </li>
                        <li @if(CONTROLLER_NAME=='Participation' && ACTION_NAME=='log') class="active" @endif >

                            <a href="/Admin/Participation/log.html">
                                <i class="icon-double-angle-right"></i>

                                分红记录

                            </a>

                        </li>
                    </ul>

                </li> -->
<!--                 <li @if(CONTROLLER_NAME=='Nav') class="active" @endif>

                    <a href="javascript:void(0)" class="dropdown-toggle">

                        <i class="icon-list"></i>

                        <span class="menu-text"> 微信导航管理 </span>

                        <b class="arrow icon-angle-down"></b>

                    </a>



                    <ul class="submenu">
                        <li @if(CONTROLLER_NAME=='Nav' && ACTION_NAME=='nav') class="active" @endif >

                            <a href="/Admin/Nav/nav.html">
                                <i class="icon-double-angle-right"></i>

                                导航列表

                            </a>

                        </li>

                    </ul>

                </li> -->
<li @if(CONTROLLER_NAME=='City') class="active" @endif>

    <a href="javascript:void(0)" class="dropdown-toggle">

        <i class="icon-list"></i>

        <span class="menu-text"> 注册区域管理 </span>

        <b class="arrow icon-angle-down"></b>

    </a>



    <ul class="submenu">

        <li @if(CONTROLLER_NAME=='City' && ACTION_NAME=='add') class="active" @endif >

            <a href="/Admin/City/add.html">
                <i class="icon-double-angle-right"></i>

                添加地区

            </a>

        </li>
        <li @if(CONTROLLER_NAME=='City' && ACTION_NAME=='index') class="active" @endif >

            <a href="/Admin/City/index.html">
                <i class="icon-double-angle-right"></i>

                地区列表

            </a>

        </li>
    </ul>

</li>
<!--                 <li @if(CONTROLLER_NAME=='APP') class="active" @endif>

                    <a href="javascript:void(0)" class="dropdown-toggle">

                        <i class="icon-list"></i>

                        <span class="menu-text"> 下载App管理 </span>

                        <b class="arrow icon-angle-down"></b>

                    </a>
                    <ul class="submenu">

                        <li @if(CONTROLLER_NAME=='App' && ACTION_NAME=='index') class="active" @endif >

                            <a href="/Admin/App/index.html">
                                <i class="icon-double-angle-right"></i>

                                下载App列表

                            </a>

                        </li>
                    </ul>

                </li> -->
<li @if(CONTROLLER_NAME=='Banner') class="active" @endif>

    <a href="javascript:void(0)" class="dropdown-toggle">

        <i class="icon-list"></i>

        <span class="menu-text"> 设置管理 </span>

        <b class="arrow icon-angle-down"></b>

    </a>
    <ul class="submenu">

        <li @if(CONTROLLER_NAME=='Banner' && ACTION_NAME=='index') class="active" @endif >

            <a href="/Admin/Banner/index.html">
                <i class="icon-double-angle-right"></i>

                轮播图管理

            </a>

        </li>
        <li @if(CONTROLLER_NAME=='Config') class="active" @endif>

            <a href="/Admin/Config/index.html">

                <i class="icon-list"></i>

                <span class="icon-double-angle-right"> 参数管理 </span>

            </a>

        </li>
    </ul>

</li>
