{{-- 导航开始 --}}
<ul class="nav nav-list">
    @foreach($menu_list as $value)
    <li @if(CONTROLLER_NAME==$value -> controller) class="active" @endif>

        <a href="javascript:void(0)" class="dropdown-toggle">
            <i class="icon-list"></i>
            <span class="menu-text"> {{$value -> name}} </span>
            <b class="arrow icon-angle-down"></b>
        </a>

        @if($value -> son != null)
        <ul class="submenu">
            @foreach($value -> son as $key=>$val)
            <li @if(CONTROLLER_NAME==$value -> controller && ACTION_NAME==$val -> action)
                class="active"
                @endif >
                <a href="{{$val -> href}}">
                    <i class="icon-double-angle-right"></i>
                    {{$val -> name}}
                </a>

            </li>
            @endforeach
        </ul>
        @endif

    </li>
    @endforeach
</ul>
{{-- 导航结束 --}}