{{-- 继承公用视图 --}}
@extends('Admin.Public.Public')

{{-- 分配标题 --}}
@section('title', '地区分类列表')

{{-- 分配path级别路径 --}}
@section('nav_path')
<li><a href="javascript:void(0);">地区管理</a></li>
<li class="active">地区列表</li>
@endsection

{{-- 分配描述 --}}
@section('description', '..')

@section('content')

<div class="row">
    <div class="col-md-12">
        <!-- Advanced Tables -->
        <div class="panel panel-default">
            <div class="panel-heading">
                 全部地区分类列表
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>名称</th>
                                <th>父id</th>
                                <th>路径</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach($data as $value)
                            <tr class="odd gradeX">
                                <td>{{$value['id']}}</td>
                                <td>{{$value['name']}}</td>
                                <td>{{$value['pid']}}</td>
                                <td class="center">{{$value['path']}}</td>
                                <td class="center">
                                    <a href="/Admin/Address/edit.html?id={{$value['id']}}" class="btn btn-primary">修改</a>
                                    <a href="/Admin/Address/delete.html?id={{$value['id']}}" class="btn btn-danger">删除</a>
                                </td>
                            </tr>
                            @endforeach
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <!--End Advanced Tables -->
    </div>
    <div style="margin-top:10px;" class="row bs-example" data-example-id="simple-alerts">
        <div class="alert alert-{{$_GET['status']}}" role="alert">
          <strong>{{$_GET['message']}}</strong>{{$_GET['description']}}
        </div>
    </div>
</div>
    <!-- /. ROW  -->
<div class="row">
    <div class="col-md-12">
      <!--   Kitchen Sink -->
        <div class="panel panel-default">
            <div class="panel-heading">
                一级地区
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>名称</th>
                                <th>父id</th>
                                <th>路径</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach($one as $value)
                            <tr>
                                <td>{{$value['id']}}</td>
                                <td>{{$value['name']}}</td>
                                <td>{{$value['pid']}}</td>
                                <td class="center">{{$value['path']}}</td>
                                <td class="center">
                                    <a href="/Admin/Address/show.html?id={{$value['id']}}" class="btn btn-info">查看子分类</a>
                                    <a href="/Admin/Address/edit.html?id={{$value['id']}}" class="btn btn-primary">修改</a>
                                    <a href="/Admin/Address/delete.html?id={{$value['id']}}" class="btn btn-danger">删除</a>
                                </td>
                            </tr>
                            @endforeach
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
         <!-- End  Kitchen Sink -->
    </div>
    
</div>

@endsection