{{-- 继承公用视图 --}}
@extends('Admin.Public.Public')

{{-- 分配path级别路径 --}}
@section('nav_path')
<li><a href="javascript:void(0);">用户管理</a></li>
<li class="active">用户添加</li>
@endsection

{{-- 分配标题 --}}
@section('title', '添加用户')

{{-- 分配页面描述 --}}
@section('description', '..')

@section('content')
<div style="margin-top:10px;" class="row bs-example" data-example-id="simple-alerts">
    <div class="alert alert-{{$_GET['status']}}" role="alert">
      <strong>{{$_GET['message']}}</strong>{{$_GET['description']}}
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                添加用户
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form role="form" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label>用户名:</label>
                                <input name="username" class="form-control">
                                <p class="help-block"></p>
                            </div>
                            <div class="form-group">
                                <label>密码:</label>
                                <input name="password" type="password" class="form-control">
                                <p class="help-block"></p>
                            </div>
                            <div class="form-group">
                                <label>邮箱:</label>
                                <input name="email" type="email" class="form-control">
                                <p class="help-block"></p>
                            </div>
                            <div class="form-group">
                                <label>手机:</label>
                                <input name="phone" type="phone" class="form-control">
                                <p class="help-block"></p>
                            </div>
                            <div class="form-group">
                                <label>真实姓名:</label>
                                <input name="truename" type="text" class="form-control">
                                <p class="help-block"></p>
                            </div>
                            <div class="form-group">
                                <label>身份证号:</label>
                                <input name="number_id" type="text" class="form-control">
                                <p class="help-block"></p>
                            </div>
                            <div class="form-group">
                                <label>用户头像:</label>
                                <input name="header_url" type="file">
                            </div>
                            <button type="submit" class="btn btn-primary">添加用户</button>
                            <button type="reset" class="btn btn-danger">重置表单</button>


                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@endsection