{{-- 继承公用视图 --}}
@extends('Admin.Public.Public')

{{-- 分配标题 --}}
@section('title', '用户列表')

{{-- 分配path级别路径 --}}
@section('nav_path')
<li><a href="javascript:void(0);">用户管理</a></li>
<li class="active">用户列表</li>
@endsection

{{-- 分配描述 --}}
@section('description', '..')

@section('content')

<div class="row">
    <div class="col-md-12">
        <!-- Advanced Tables -->
        <div class="panel panel-default">
            <div class="panel-heading">
                 全部用户列表
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>用户名</th>
                                <th>邮箱</th>
                                <th>手机号</th>
                                <th>真实姓名</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach($data as $value)
                            <tr class="odd gradeX">
                                <td>{{$value['id']}}</td>
                                <td>{{$value['username']}}</td>
                                <td>{{$value['email']}}</td>
                                <td class="center">{{$value['truename']}}</td>
                                <td class="center">
                                    <a href="/Admin/Address/show.html?id={{$value['id']}}" class="btn btn-info">查看信息</a>
                                    <a href="/Admin/Address/edit.html?id={{$value['id']}}" class="btn btn-primary">修改</a>
                                    <a href="/Admin/Address/delete.html?id={{$value['id']}}" class="btn btn-danger">删除</a>
                                </td>
                            </tr>
                            @endforeach
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <!--End Advanced Tables -->
    </div>
    <div style="margin-top:10px;" class="row bs-example" data-example-id="simple-alerts">
        <div class="alert alert-{{$_GET['status']}}" role="alert">
          <strong>{{$_GET['message']}}</strong>{{$_GET['description']}}
        </div>
    </div>
</div>

@endsection